<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang này hiển thị trang web và ảnh</p>
    </div>
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Hải sản</option>
            <option>Bánh kẹo</option>
            <option>Đồ gia dụng</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/26893165/pexels-photo-26893165/free-photo-of-cong-ngh-may-vi-tinh-den-mau-den.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="abc" class="product-image">
                <div>
                    <div class="d-flex justify-content-center ">
                        <h3 class="product-name">Product 1</h3>
                    </div>

                    <div class="d-flex justify-content-center">
                        <p class="product-price">Giá: <del> 200$</del> 100$</p>
                    </div>

                    <div class="product-rating d-flex justify-content-center">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="product-action">
                    <button class="btn"><i class="btn-icon fa-solid fa-cart-shopping"></i></button>
                    <button class="btn-buy ms-2">Mua ngay</button>
                    <button class="btn btn-heart"><i class="fa-solid fa-heart"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/26893165/pexels-photo-26893165/free-photo-of-cong-ngh-may-vi-tinh-den-mau-den.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="abc" class="product-image">
                <div>
                    <div class="d-flex justify-content-center ">
                        <h3 class="product-name">Product 1</h3>
                    </div>

                    <div class="d-flex justify-content-center">
                        <p class="product-price">Giá: <del> 200$</del> 100$</p>
                    </div>

                    <div class="product-rating d-flex justify-content-center">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="product-action">
                    <button class="btn"><i class="btn-icon fa-solid fa-cart-shopping"></i></button>
                    <button class="btn-buy ms-2">Mua ngay</button>
                    <button class="btn btn-heart"><i class="fa-solid fa-heart"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/26893165/pexels-photo-26893165/free-photo-of-cong-ngh-may-vi-tinh-den-mau-den.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="abc" class="product-image">
                <div>
                    <div class="d-flex justify-content-center ">
                        <h3 class="product-name">Product 1</h3>
                    </div>

                    <div class="d-flex justify-content-center">
                        <p class="product-price">Giá: <del> 200$</del> 100$</p>
                    </div>

                    <div class="product-rating d-flex justify-content-center">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="product-action">
                    <button class="btn"><i class="btn-icon fa-solid fa-cart-shopping"></i></button>
                    <button class="btn-buy ms-2">Mua ngay</button>
                    <button class="btn btn-heart"><i class="fa-solid fa-heart"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/26893165/pexels-photo-26893165/free-photo-of-cong-ngh-may-vi-tinh-den-mau-den.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="abc" class="product-image">
                <div>
                    <div class="d-flex justify-content-center ">
                        <h3 class="product-name">Product 1</h3>
                    </div>

                    <div class="d-flex justify-content-center ">
                        <p class="product-price">Giá: <del> 200$</del> 100$</p>
                    </div>

                    <div class="product-rating d-flex justify-content-center">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="product-action">
                    <button class="btn"><i class="btn-icon fa-solid fa-cart-shopping"></i></button>
                    <button class="btn btn-buy ms-2">Mua ngay</button>
                    <button class="btn btn-heart"><i class="fa-solid fa-heart"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/26893165/pexels-photo-26893165/free-photo-of-cong-ngh-may-vi-tinh-den-mau-den.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="abc" class="product-image">
                <div>
                    <div class="d-flex justify-content-center ">
                        <h3 class="product-name">Product 1</h3>
                    </div>

                    <div class="d-flex justify-content-center ">
                        <p class="product-price">Giá: <del> 200$</del> 100$</p>
                    </div>

                    <div class="product-rating d-flex justify-content-center">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="product-action">
                    <button class="btn"><i class="btn-icon fa-solid fa-cart-shopping"></i></button>
                    <button class="btn btn-buy ms-2">Mua ngay</button>
                    <button class="btn btn-heart"><i class="fa-solid fa-heart"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/26893165/pexels-photo-26893165/free-photo-of-cong-ngh-may-vi-tinh-den-mau-den.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="abc" class="product-image">
                <div>
                    <div class="d-flex justify-content-center ">
                        <h3 class="product-name">Product 1</h3>
                    </div>

                    <div class="d-flex justify-content-center ">
                        <p class="product-price">Giá: <del> 200$</del> 100$</p>
                    </div>

                    <div class="product-rating d-flex justify-content-center">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="product-action">
                    <button class="btn"><i class="btn-icon fa-solid fa-cart-shopping"></i></button>
                    <button class="btn btn-buy ms-2">Mua ngay</button>
                    <button class="btn btn-heart"><i class="fa-solid fa-heart"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/26893165/pexels-photo-26893165/free-photo-of-cong-ngh-may-vi-tinh-den-mau-den.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="abc" class="product-image">
                <div>
                    <div class="d-flex justify-content-center ">
                        <h3 class="product-name">Product 1</h3>
                    </div>

                    <div class="d-flex justify-content-center ">
                        <p class="product-price">Giá: <del> 200$</del> 100$</p>
                    </div>

                    <div class="product-rating d-flex justify-content-center">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="product-action">
                    <button class="btn"><i class="btn-icon fa-solid fa-cart-shopping"></i></button>
                    <button class="btn btn-buy ms-2">Mua ngay</button>
                    <button class="btn btn-heart"><i class="fa-solid fa-heart"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="product-item">
                <img src="https://images.pexels.com/photos/26893165/pexels-photo-26893165/free-photo-of-cong-ngh-may-vi-tinh-den-mau-den.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="abc" class="product-image">
                <div>
                    <div class="d-flex justify-content-center ">
                        <h3 class="product-name">Product 1</h3>
                    </div>
                    <div class="d-flex justify-content-center ">
                        <p class="product-price">Giá: <del> 200$</del> 100$</p>
                    </div>
                    <div class="product-rating d-flex justify-content-center">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
                </div>
                <div class="product-action">
                    <button class="btn"><i class="btn-icon fa-solid fa-cart-shopping"></i></button>
                    <button class="btn btn-buy ms-2">Mua ngay</button>
                    <button class="btn btn-heart"><i class="fa-solid fa-heart"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-mid-footer></app-mid-footer>
<app-footer></app-footer>